<template>
  <v-app>
    <Header />

    <nuxt />

    <Footer />
  </v-app>
</template>

<script>
import Footer from "~/components/shared/Footer";
import Header from "~/components/shared/Header";

export default {
  components: {
    Footer,
    Header
  }
};
</script>
